<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../static/css/jqtree.css">
  <title>Document</title>
</head>
<body>
  <div id="tree"></div>
</body>

<script src="../../static/js/jquery-3.2.1.min.js"></script>
<script src="../../static/js/tree.jquery.js"></script>
<script>
  $(function () {
      var data = [
          {
              name: 'node1',
              children: [
                  { name: 'child1' },
                  { name: 'child2' }
              ]
          },
          {
              name: 'node2',
              children: [
                  { name: 'child3' }
              ]
          }
      ];
      $(function() {
          $('#tree').tree({
              data: data
          });
      });
  });
</script>
</html>