/*reset*/
html body hr {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
/*header*/
html {
  background-color: #eeeeee;
}
.wrap {
  width: 100%;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  font-family: 微软雅黑;
  /*login*/
  /*home*/
}
.wrap .header {
  position: relative;
  height: 40px;
  border-bottom: 1px solid #797979;
  border-top: 1px solid #797979;
  background-color: #0099cc;
}
.wrap .header .logo {
  height: 32px;
  width: 32px;
  float: left;
  margin: 3px 5px;
  background: url("../images/logo.jpg") no-repeat;
  background-size: 100% 100%;
}
.wrap .header .header-text {
  float: left;
  font-size: 24px;
  color: #ffff33;
  margin: 2px 6px;
  line-height: 34px;
}
.wrap .header .after-login {
  float: right;
  line-height: 40px;
  margin-right: 18px;
}
.wrap .header .after-login .js-login-time {
  margin-right: 26px;
}
.wrap .header .after-login .js-exit {
  color: #0000ff;
  text-decoration: underline;
}
.wrap .header .after-login .js-exit:hover {
  color: red;
  cursor: hand;
}
.wrap .header .after-login .js-login-time {
  color: #fff;
}
.wrap .login-form {
  border: 1px solid #000;
  width: 400px;
  margin: 50px auto;
  background-color: #e4e4e4;
}
.wrap .login-form .row {
  padding: 0;
}
.wrap .login-form hr {
  background-color: #000;
  height: 1px;
  border: none;
}
.wrap .login-form .login-header {
  font-size: 18px;
  margin: 8px 10px;
  font-weight: bold;
}
.wrap .login-form .form-content {
  margin: 12px 9px;
}
.wrap .login-form .form-content label {
  font-size: 12px;
  line-height: 18px;
}
.wrap .login-form .form-content .login-error,
.wrap .login-form .form-content .input-error {
  color: red;
  font-size: 12px;
}
.wrap .login-form .form-content .login-error {
  margin-top: -15px;
}
.wrap .login-form .form-content button {
  border-bottom: 2px solid #898989;
  border-right: 2px solid #898989;
  width: 100px;
  height: 25px;
  line-height: 15px;
  text-align: center;
}
.wrap .login-form .form-content .form-group {
  margin-bottom: 22px;
  position: relative;
}
.wrap .login-form .form-content .form-group .input-error {
  position: absolute;
  margin-top: 5px;
}
.wrap .left-content {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  border-left: 1px solid #797979;
  border-right: 1px solid #797979;
}
.wrap .left-content.col-sm-2 {
  padding: 0px;
}
.wrap .left-content .active {
  background-color: #bcbcbc;
}
.wrap .left-content .my-nav {
  border: 1px solid #797979;
  border-left: none;
}
.wrap .left-content .nav-wrap {
  height: 130px;
  border: 1px solid #a9a9a9;
  border-left: none;
  overflow-y: scroll;
}
.wrap .left-content .nav-wrap .nav-item {
  height: 200px;
}
.wrap .left-content .reset-content {
  border-right: 1px solid #797979;
  border-left: 1px solid #797979;
}
.wrap .right-content {
  position: absolute;
  top: 40px;
  bottom: 0;
  right: 0;
  border: 1px solid #797979;
  border-left: none;
  margin-top: -1px;
}
.wrap .right-content.col-sm-10 {
  padding: 4px 12px 27px 6px;
}
.wrap .right-content .table td,
.wrap .right-content .table th {
  border: 1px solid #797979;
  font-size: 14px;
  text-align: center;
}
.wrap .right-content .table th {
  background-color: #999;
  color: #fff;
}
.wrap .right-content .is-have-content {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-top: 20%;
  color: red;
}
